<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~//css/site.css" />
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/">Homepage</a>
                </li>
                <li>
                    <a href="/Prijzen">prijzen</a>
                </li>
                <li>
                    <a href="/Data">data</a>
                </li>
                <li>
                    <a href="/Regels">Regels</a>
                </li>
                <li>
                    <a href="/Locaties">Locaties</a>
                </li>
                <li>
                    <a href="/Contacten">contacten</a>
                </li>
            </ul>
        </nav>
        @RenderBody()
    </body>
</html>
