<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css?v=1" />
    </head>
    <body>
        <header>
            <h1>  Miefbeau festivals</h1>
        </header>

        <nav class="homepage">
                    <a href="/">Homepage</a>
                    <a href="/Prijzen">prijzen</a>
                    <a href="/Data">data</a>
                    <a href="/Regels">Regels</a>
                    <a href="/Locaties">Locaties</a>
                    <a href="/Contact">Contact</a>
        </nav>
        @RenderBody()
    </body>
</html>
