@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>
miefbeau festival
<p>hier kun je onze contactgegevens </p>


<p>
    <h2>Madelief van der Bles</h2>
    Weet veel over de data
</p>

<p>
    <h3>Isabeau Rikkoert</h3>
    Weet veel over de ticketverkoop
</p>