@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Er zijn verschillende festivals waar je heen kunt gaan. Ben jij meer een danser of meer een spelletjes speler?
    Dan hebben wij goed nieuws, want wij beschikken over vier verschillende festival!
    Klik voor meer informatie hier beneden!
</p>

<nav class="festivals">
    <a href="/Lowlands">Lowlands</a>
    <a href="/Hockeyloverz">Hockeyloverz</a>
    <a href="/Mysteryland">Mysteryland</a>
    <a href="/PinkPop">PinkPop</a>
</nav>

