@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
ghfdbfdbsghvbfhdhfhfh
<p>Use this page to detail your site's privacy policy.</p>
data pagina

<nav>
    <ul>
        <li>
            <a href="/Lowlands">Lowlands</a>
        </li>
        <li>
            <a href="/Hockey Loverz">Hockey Loverz</a>
        </li>
        <li>
            <a href="/Mystery Land">Mystery Land</a>
        </li>
        <li>
            <a href="/Pink Pop">Pink Pop</a>
        </li>
    </ul>
</nav>