@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Er zijn verschillende festivals waar je heen kunt gaan. Ben jij meer een danser of meer een spelletjes speler?
    Dan hebben wij goed nieuws, want wij beschikken over vier verschillende festival!
    Klik voor meer informatie hier beneden!
</p>

<nav>
    <ul>
        <li>
            <a href="/Lowlands">Lowlands</a>
        </li>
        <li>
            <a href="/Hockey Loverz">Hockey Loverz</a>
        </li>
        <li>
            <a href="/Mystery Land">Mystery Land</a>
        </li>
        <li>
            <a href="/Pink Pop">Pink Pop</a>
        </li>
    </ul>
</nav>

