@{
    ViewData["Title"] = "Home Page";
}




<body>

    <p>
        Heb jij ook zo een zin in een festival? Wij organiseren festivals
        op het strand voor jou!
        Check op deze website voor de data en de locaties en kom met je vrienden
        naar het beachfestival bij jou in de buurt!
        Wij hebben er zin in, zien we je daar?  Ben je benieuwd naar het festival?
        kijk hieronder naar een aantal foto's van onze eerdere festivals en onze ideeen voor de komende festivals.
    </p>

    <h3>Agenda</h3>

    <ul>
        <li>6 mei : Scheveningen</li>
        <li>13 mei : Noordwijk</li>
        <li>21 mei : Almere</li>
    </ul>

</body>

<p>
    <img src="https://media.resources.festicket.com/www/magazine/Beach.jpg" width=200 height=125 />
</p>

<p>
    <img src="https://shoreclubvietnam.com/wp-content/uploads/2020/07/rsz_20190727-dsc_0091_1.jpg" width=200 height=125 />
</p>

<p>
    <img src="https://www.antonio-carluccio.com/wp-content/uploads/2019/09/food-festivals.jpg" width=200 height=125 />
</p>

<p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT_h-RCAH0vpRokDF_N82sdva8JPxYfMigLA&usqp=CAU" width=200 height=125 />
</p>
