@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>
miefbeau festival
<p>hier kun je onze contactgegevens </p>

<p>
    <h2>Madelief van der Bles</h2>
    Weet veel over de data
</p>

<p>
    <h3>Isabeau Rikkoert</h3>
    Weet veel over de ticketverkoop
</p>

<div id="contact">
    <h2>
        Contact
    </h2>
    <footer>
        <form>
            <p> Naam: </p>
            <p><input type="text" name="name" value="Uw naam"></p>
            <p> E-mail: </p>
            <p><input type="text" name="E-mail" value="Uw e-mail"></p>
            <p> Telefoon: </p>
            <p><input type="text" name="telefoon nummer" value="Uw telefoon nummer"></p>
          
        </form>
    </footer>
</div>