@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<h2>Regels voor de festivals </h2>

<p>
    Omtrent het corona-virus zullen ook wij ons moeten houden aan bepaalde regels.
    Deze regels zijn heel belangrijk om je aan te houden, als wij tenminste willen partyen dit jaar
    Dit zijn de regels die gelden op ons festival;
</p>

<ul>
    <li>Max 500 personen</li>
    <li>100 mensen per vlak</li>
    <li>Duidelijke looproutes bij de eettentjes en wc's</li>
    <li>Max vijf mensen tegelijkertijd in een wc-ruimte</li>
    <li>Backstage moet je de looproutes volgen en 1,5 meter afstand houden</li>
    <li>Max 10 mensen per groep bij de VIP rondleiding met 1 begeleider</li>
</ul>  