
html, body {
    background-color: rgb(246, 251, 255);
    padding: 0px;
    margin: 0px;
    font-family: monospace;
}
.homepage {
    display: flex;
    flex-direction: row;
}
.homepage a {
    flex: 1;
    display: block;
    background-color: aquamarine;
    padding: 10px;
}
.festivals {
    display: flex;
    flex-direction: row;
}

    .festivals a {
        flex: 1;
        display: block;
        background-color: aquamarine;
        padding: 10px;
    }